@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Poppins&display=swap');

:root {
    --primary: #DC143C;
    --light: #eeeeee;
    --dark: #212121;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: var(--dark);
    padding: 16px 32px;
    border-bottom: 3px solid var(--primary );
}

.w-logo {
    color: var(--light);
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: 'Arizonia', cursive;
}

.berger {
    display: block;
    position: relative;
    z-index: 1;

    user-select: none;

    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.berger span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background-color: var(--light);
    border-radius: 6px;
    z-index: 1;

    transform-origin: 0 0;

    transition: 0.4s;
}

.berger:hover span:nth-child(2) {
    transform: translateX(10px);
    background-color: var(--primary);
    width: 23px;
}

.berger:hover span:nth-child(3) { 
    transform: translateX(18px);
    background-color: var(--primary);
    width: 15px;
}

.berger.is-active span:nth-child(1) {
    transform: translate(0px, -2px) rotate(45deg);
}

.berger.is-active span:nth-child(2) {
    opacity: 0;
}

.berger.is-active span:nth-child(3) {
    transform: translate(-3px, 3px) rotate(-45deg);
    width: 33px;
}

.berger.is-active:hover span {
    background-color: var(--primary);
}

.nav-bar {
    display: none;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0 -16px;

}

.nav-bar a {
    color: #fff;
    margin: 0 16px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.4s;
    padding: 8px 16px;
    border-radius: 99px;
}

.nav-bar a.is-active, .nav-bar a:hover{
    background-color: var(--primary);
}

@media (min-width: 786px) {
    .berger {
        display: none;
    }
    .nav-bar {
        display: flex;
    }
}